<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="#"
      ><i class="fa-solid fa-book-open me-2"></i>MEAM<span>BOOKSTORE</span></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fa-solid fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse ms-5" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Authors</a>
        </li>
      </ul>
      <form class="d-flex justify-content-between" role="search">
        <button *ngIf="!user.email" class="btn login ms-3" routerLink="/login">
          Login
        </button>
        <div class="username" *ngIf="user.email">
          {{ user.name }}
          <div class="profile-picture">
            <img [src]="user.profilePicture" alt="pp" />
          </div>
        </div>
        <button
          *ngIf="user.email"
          class="btn btn-outline-danger"
          (click)="logOut()"
          routerLink="/login"
        >
          Logout
        </button>
        <button
          *ngIf="!user.email"
          class="btn signup ms-3"
          routerLink="/register"
          type="submit"
        >
          SignUp
        </button>
      </form>
    </div>
  </div>
</nav>
