.navbar {
  background-color: black !important;
  color: gold;
}

.navbar-brand {
  color: gold;
}

.navbar-brand span {
  color: red;
}

.nav-item a {
  color: gold;
  transition: 0.3s;
}

.login {
  border: 1px solid gold;
  color: gold;
}

.login:hover {
  background-color: gold;
  color: black;
}

.signup {
  background-color: gold;
  color: black;
  transition: 0.3s;
}

.signup:hover {
  background-color: black;
  border: 1px solid gold;
  color: gold;
}

.fa-bars {
  color: gold !important;
}

.username {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  padding: 0.5rem;
  border-radius: 3px;
  cursor: pointer;
}

.profile-picture {
  width: 30px;
  height: 30px;
  background-color: transparent;
  margin-left: 1rem;
  border-radius: 50%;
  /* border: 1px solid gold; */
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 50%;
}

.nav-item:hover a,
.nav-item::selection a {
  background-color: gold;
  border-radius: 10px;
  color: black;
}
