<div class="container d-flex flex-column mx-auto mt-4">
  <h1 class="display-5">
    <b class="fw-bold">{{ category }}</b> Category
  </h1>
  <div class="d-flex flex-wrap gap-4 justify-content-center my-5">
    @for (item of books; track $index) {
    <app-single-book-card
      [author]="item.author!"
      [bookId]="item._id!"
      [photo]="item.photo!"
      [title]="item.name!"
      [authorId]="item.authorId!"
    ></app-single-book-card>
    }@empty {
    <app-not-found></app-not-found>
    }
  </div>
</div>
