<table>
  <thead>
    <tr>
      <th>Cover</th>
      <th>Name</th>
      <th>Author</th>
      <th>avgRate</th>
      <th>Rating</th>
      <th>Shelve</th>
    </tr>
  </thead>
  <tbody formArrayName="books">
    <tr *ngFor="let book of books.controls; let i = index">
      <ng-container [formGroupName]="i">
        <td><img [src]="book.value.cover" alt="{{ book.value.name }}" /></td>
        <td>{{ book.value.name }}</td>
        <td>{{ book.value.author }}</td>
        <td>{{ book.value.avgRate }}</td>
        <td>{{ book.value.rating }}</td>
        <td>
          <select formControlName="shelve" (change)="updateBookStatus(i)">
            <option value="read">Read</option>
            <option value="want to read">Want to Read</option>
            <option value="reading">Reading</option>
            <option value="">None</option>
          </select>
        </td>
      </ng-container>
    </tr>
  </tbody>
</table>
