<!-- <table class="table border border-2 rounded-5 align-middle">
  <thead class="table-light">
    <tr>
      @for (item of tableHeader; track $index) {
      <th scope="col">{{ item }}</th>
      }
    </tr>
  </thead>

  <tbody>
    @for (item of tableData; track $index) {
    <tr>
      <th scope="row">{{ $index + 1 }}</th>
      <td *ngIf="item.photo">
        <img
          style="max-height: 200px; max-width: 100px"
          [src]="item.photo"
          alt="book image"
        />
      </td>
      <td>{{ item.author }}</td>
      <td *ngIf="item.photo">{{ item.averageRating }}</td>
      <td *ngIf="item.photo">{{ item.rating }}</td>
      <td class="w-25">
        <select
          class="form-select w-50"
          (change)="updateStatusBook(item._id, $event)"
          [value]="item.shelve"
          aria-label="Default select example"
        >
          <option selected value="null">Choose Status</option>
          <option value="read">Read</option>
          <option value="want to read">Want to Read</option>
          <option value="reading">Reading</option>
        </select>
      </td>
    </tr>

    }
  </tbody>
</table> -->

<!-- Filter Dropdown -->
<div class="mt-5 mb-3 w-25 d-flex justify-content-center flex-column mx-auto">
  <label for="filter" class="form-label text-center">Filter by Status</label>
  <select
    id="filter"
    class="form-select"
    (change)="onFilterChange($event)"
    [value]="selectedFilter"
  >
    <option *ngFor="let option of filterOptions" [value]="option.value">
      {{ option.label }}
    </option>
  </select>
</div>

<!-- Table -->
<table class="table border border-2 rounded-5 align-middle container">
  <thead class="table-light">
    <tr>
      <th *ngFor="let item of tableHeader">{{ item }}</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of filteredTableData; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td *ngIf="item.photo">
        <img
          class="hover"
          style="max-height: 200px; max-width: 100px"
          [src]="item.photo"
          routerLink="/books/{{ item._id }}"
          alt="book image"
        />
      </td>
      <td>
        <div routerLink="/books/{{ item._id }}" class="hover">
          {{ item.name }}
        </div>
      </td>
      <td>
        <div routerLink="/authors/{{ item.authorId }}" class="hover">
          {{ item.author }}
        </div>
      </td>
      <td *ngIf="item.photo">
        <ng-container *ngFor="let star of getStars(item.averageRating)">
          <span *ngIf="star < item.averageRating">&#9733;</span>
          <span
            *ngIf="
              star >= item.averageRating && star < item.averageRating + 0.5
            "
            >&#9734;</span
          >
        </ng-container>
      </td>
      <td class="w-25">
        <select
          class="form-select w-50"
          (change)="updateStatusBook(item._id, $event)"
          [value]="item.shelve"
          aria-label="Default select example"
        >
          <option value="null">Choose Status</option>
          <option value="read">Read</option>
          <option value="want to read">Want to Read</option>
          <option value="reading">Reading</option>
        </select>
      </td>
    </tr>
  </tbody>
</table>
