<table class="table border border-2 rounded-5 align-middle">
  <thead class="table-light">
    <tr>
      @for (item of tableHeader; track $index) {
      <th scope="col">{{ item }}</th>
      }
    </tr>
  </thead>

  <tbody>
    @for (item of tableData; track $index) {
    <tr>
      <th scope="row">{{ $index + 1 }}</th>
      <td *ngIf="item.photo">
        <img
          style="max-height: 200px; max-width: 100px"
          [src]="item.photo"
          alt="book image"
        />
      </td>
      <td>{{ item.name }}</td>
      <td *ngIf="item.photo">{{ item.category || item.lastName }}</td>
      <td *ngIf="item.photo">{{ item.author || item.birthDate }}</td>
      <td>
        <div class="d-flex gap-4 flex-column align-items-center">
          <button
            (click)="modalType = 'Update'"
            class="actionBtn btn fs-2"
            data-bs-toggle="modal"
            [attr.data-bs-target]="'#formModal' + item._id"
          >
            <i class="bx bxs-pencil"></i>
          </button>
          <button
            class="actionBtn btn fs-2"
            (click)="modalType = 'Delete'"
            data-bs-toggle="modal"
            [attr.data-bs-target]="'#formModal' + item._id"
          >
            <i class="bx bxs-trash-alt"></i>
          </button>
        </div>
      </td>
      <app-books-form
        style="position: absolute"
        [formActionType]="modalType"
        [book]="item"
      ></app-books-form>
    </tr>

    }
  </tbody>
</table>
