<div class="container mt-5">
  <div class="d-flex justify-content-between p-2">
    <app-admin-navigation></app-admin-navigation>
    <button
      class="actionBtn btn fs-2"
      (click)="modalType = 'Add'"
      type="button"
      data-bs-toggle="modal"
      data-bs-target="#formModal"
    >
      <i class="bx bxs-book-add"></i>
    </button>
  </div>
  @if(booksCount){
  <app-admin-table
    [tableHeader]="tableHeader"
    [tableData]="books"
  ></app-admin-table>

  <app-pagination
    [nextIsEnabled]="moreBooks"
    [currentPage]="currentPage"
    [nextBtnHandler]="nextBtnOnclick"
    [previousBtnHandler]="previousBtnOnclick"
  ></app-pagination>
  }@else {
  <h1 class="d-block mx-auto display-3 mt-5 text-danger text-center">
    The Shelfs are Empty <br /><br />
    Add Some Books
  </h1>
  }
  <app-books-form [formActionType]="modalType"></app-books-form>
</div>
