<div class="container mt-5">
  <div class="d-flex justify-content-between p-2">
    <h2>Books</h2>
    <button
      class="actionBtn btn fs-2"
      (click)="modalType = 'Add'"
      type="button"
      data-bs-toggle="modal"
      data-bs-target="#formModal"
    >
      <i class="bx bxs-book-add"></i>
    </button>
  </div>
  <table class="table border border-2 rounded-5 align-middle">
    <thead class="table-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">photo</th>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Author</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>

    <tbody>
      @for (item of books; track $index) {
      <tr>
        <th scope="row">{{ $index + 1 }}</th>
        <td>
          <img
            style="max-height: 200px; max-width: 100px"
            [src]="item.photo"
            alt="book image"
          />
        </td>
        <td>{{ item.name }}</td>
        <td>{{ item.category }}</td>
        <td>{{ item.author }}</td>
        <td>
          <div class="d-flex gap-4 flex-column align-items-center">
            <button
              (click)="modalType = 'Update'"
              class="actionBtn btn fs-2"
              data-bs-toggle="modal"
              [attr.data-bs-target]="'#formModal' + item._id"
            >
              <i class="bx bxs-pencil"></i>
            </button>
            <button
              class="actionBtn btn fs-2"
              (click)="modalType = 'Delete'"
              data-bs-toggle="modal"
              [attr.data-bs-target]="'#formModal' + item._id"
            >
              <i class="bx bxs-trash-alt"></i>
            </button>
          </div>
        </td>
        <app-books-form
          style="position: absolute"
          [formActionType]="modalType"
          [book]="item"
        ></app-books-form>
      </tr>

      }
    </tbody>
  </table>
  <app-books-form [formActionType]="modalType"></app-books-form>

  <nav aria-label="Page navigation ">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <button
          class="page-link"
          [disabled]="currentPage === 1"
          (click)="currentPage = currentPage - 1; getBooks()"
        >
          Previous
        </button>
      </li>
      <li class="page-item">
        <span class="page-link">
          {{ currentPage }}
        </span>
      </li>
      <li class="page-item">
        <button
          class="page-link"
          (click)="currentPage = currentPage + 1; getBooks()"
        >
          Next
        </button>
      </li>
    </ul>
  </nav>
</div>
