@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
.book-cards {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  position: relative;
}

.book-card {
  margin-top: 10vh;
  max-width: 60vw;
  background-color: #fff;
  box-shadow: -1px 3px 8px -1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 20px;
  color: var(--body-color-light);
}

.book-card-img {
  width: 160px;
  margin-top: -35px;
  border-radius: 2px;
  box-shadow: 0px 1px 7px 2px #c7c9d3;
  border-bottom: 1px solid #dcddde;
  object-fit: cover;
  margin-bottom: 20px;
  transition: 0.3s ease;
  &:hover {
    transform: scale(1.04);
  }
}

.card-content {
  color: var(--body-color);
  padding: 30px;
  overflow: hidden;
  position: relative;
}

.book-name {
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.book-by {
  font-size: 13px;
  color: var(--body-color-light);
  margin-top: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.book-by:hover {
  text-decoration: underline;
}

.book-rate > label {
  color: #cccccc;
}

.rate {
  display: inline-block;
  white-space: nowrap;
}

.card-vote {
  color: var(--body-color-light);
}

.card-sum {
  color: var(--body-color-light);
  font-size: 13px;
  line-height: 1.6em;
  margin-top: 15px;
}

.content-wrapper {
  display: flex;
  border-bottom: 1px solid #ebedef;
  position: relative;
}

/*Stars Style*/

.rating {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.rating input {
  display: none;
}

.rating label {
  float: right;
  cursor: pointer;
  color: #ccc;
  transition: color 0.3s;
}

.rating label:before {
  content: "\2605";
  font-size: 22px;
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
  color: #6f00ff;
  transition: color 0.3s;
}

.rating input:disabled ~ label {
  cursor: default;
  color: #ccc;
}

.rating input:disabled:checked ~ label {
  cursor: default;
  color: #6f00ff;
}
