<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="d-flex justify-content-center h-100">
        <div class="card">
          <div class="card-header">
            <h3>Sign In</h3>
          </div>
          <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="submit()">
              @if (fc['email'].invalid && fc['email'].touched ) {<small
                *ngIf="fc['email'].errors?.['required']"
                class="text-danger mb-1 ms-3"
                >Email is Required</small
              >
              <small
                *ngIf="fc['email'].errors?.['email']"
                class="text-danger mb-1 ms-3"
                >Please enter a valid Email</small
              >}
              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="fa-solid fa-at"></i
                  ></span>
                </div>
                <input
                  type="email"
                  class="form-control"
                  placeholder="Email"
                  formControlName="email"
                />
              </div>
              @if (fc['password'].invalid && fc['password'].touched ) {<small
                *ngIf="fc['password'].errors?.['required']"
                class="text-danger mb-1 ms-3"
                >Password is Required</small
              >}
              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="fas fa-key"></i
                  ></span>
                </div>

                <input
                  type="password"
                  class="form-control"
                  placeholder="password"
                  formControlName="password"
                />
              </div>
              <div class="form-group d-flex justify-content-center">
                <input type="submit" value="Login" class="btn login_btn" />
              </div>
            </form>
          </div>
          <div class="card-footer">
            <div class="d-flex justify-content-center links">
              Don't have an account?<a routerLink="/register">Sign Up</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
